* {
    margin: 0px;
    padding: 0px;
}

body {
    overflow-x: hidden;
    background-color: black !important;
}

.section1 h1 {
    text-align: center;
    color: white;
    margin-top: 100px;
}

.images1 {
    width: 100px;
    margin-left: 500px;
}

button {
    position: relative;
    left: 400px;
    top: 20px;
    width: 100px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .images1 {
        margin-left: 130px;
    }

    button {
        position: relative;
        left: 25px;
    }
}